# Virtual environment (your local setup)
venv/
*.env
.env

# Python files created automatically
__pycache__/
*.pyc
*.sqlite3
db.sqlite3
*.log
*.sqlite

# Operating System files
.DS_Store # For Apple computers
Thumbs.db # For Windows computers

# Editor/IDE files (if you use them)
.vscode/
.idea/

# Project files we don't want on GitHub
cropcare_project/render_config.py
python